bitarray==0.8.1
colorama==0.3.7 # not explicitly used - maybe can be removed
cycler==0.10 # not explicitly used - maybe can be removed
datasketch==1.5.3
elasticsearch==6.0.0
Flask>=1.0.2
Flask-Cors>=2.1.2
matplotlib>=3.1.1
mock>=2.0.0
networkx>=2.4
nltk>=3.1
numpy>=1.17
ontospy>=1.7.3
pandas>=1.1.2
pymongo>=3.2
rdflib>=4.2.2
redis>=2.10.5
scikit-learn>=0.24.1
scipy>=1.0.0
tqdm>=4.26.0
fire>=0.1.3
dataclasses>=0.6
neo4j>=1.7.1
psutil>=5.4.7
tabulate>=0.8.7
